.hero {
  display: flex;
  align-items: center;
  padding: 200px 0;
  justify-content: center;
  background-color: var(--secondary-background);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: repeat;
  background-size: cover;

  &-wrap {
    text-align: center;
  }

  &__title {
    max-width: 696px;
    margin: 0 auto 40px;
    @include font(44px, 900, 60px, 0.06em);
    text-transform: uppercase;
    color: var(--primary-white-color);
  }
}
